<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="btn-group btn-group-justified" role="group" aria-label="...">
      <div class="btn-group" role="group">
        <a href='#'><button type="button" class="btn btn-lg btn-default"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span></button></a>
      </div>
    </div>
</nav>
