<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <p>Hostluck</p>
          <a href='/home' class="navbar-link navbar-text navbar-right"><span class="glyphicon glyphicon-home" aria-hidden="true"></span></a>
      </a>
    </div>
  </div>
</nav>
