{{> html_head}}
{{> navbar}}

  <div class="container">
    <h1> Address</h1>
    <br />
    <form role='form' action="/addaddress" method="get">
      <input type="hidden" name="redirect" value="/attending" />
      <div class="form-group">
        <input class="form-control" type='text' name="street" placeholder='Street' />
      </div>
      <div class="form-group">
        <input class="form-control" type='text' name="city" placeholder='City' />
      </div>
      <div class="form-group">
        <input class="form-control" type='text' name="state" placeholder='State' />
      </div>
      <div class="form-group">
        <input class="form-control" type='number' name="zip" placeholder='Zip'  />
      </div>
      <input class="btn btn-lg btn-default btn-block" onsubmit="redirect()" type='submit' />
    </form>
    <h3> OR </h3>
    <div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#collapse1">Previous Addresses:</a>
      </h4>
    </div>
    <div id="collapse1" class="panel-collapse collapse">
      {{#each addresses}}
        <div class="panel-body"><a href="#eventsetup">{{street}}, {{city}} {{zip}}</a></div>
      {{/each}}
    </div>
  </div>
</div>
<script>
function redirect() {
    window.location = "attending";
}
</script>
  </body>
      {{> footer_back_login}}
  </html>
