<!DOCTYPE html>
<html>

<head>
  <title>Add User</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- css -->
  <link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
  <link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
  <link rel="stylesheet" href="plugins/mobiscroll/css/mobiscroll.frame.jqm.css">
  <link rel="stylesheet" href="plugins/mobiscroll/css/mobiscroll.scroller.jqm.css">
  <!-- js -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/1.0.0/handlebars.min.js"></script>
  <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
  <script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
  <script src="plugins/mobiscroll/js/mobiscroll.core.js"></script>
  <script src="plugins/mobiscroll/js/mobiscroll.frame.jqm.js"></script>
  <script src="plugins/mobiscroll/js/mobiscroll.jqmwidget.js"></script>

</head>

<body>
  <!---Splash Page------------------------------------------>
  <div data-role="page">
    <div data-role="container">
      {{#each addresses}}
      <a href="#">{{street}}</a>
      {{/each}}
      <a href="/">Return</a>
    </div>
  </div>
</body>
</html>
