{{> html_head}}
{{> navbar}}

  <div class="container">
    <h1> Great! See you there</h1>
    <br />
    <a href="#myeventsmain" class="ui-btn ui-corner-all">My Events</a>
  </div>
  </body>
      {{> footer_back_home}}
  </html>
