{{> html_head}}
{{> navbar}}

  <div class="container">
    <h1> Your status for (placeholder = eventname) has been changed to can't attend. Next time!</h1>
    <br />

  </body>
      {{> footer_back_home}}
  </html>
