{{> html_head}} {{> navbar}}

<body>

  <div data-role="main" class="ui-content ui-corner-all">
    <h1> Yay! Your Event has been set up! Congrats! </h1>

    <a href="#myeventsmain" class="ui-btn ui-corner-all">My Events</a>
  </div>

</body>
{{> footer_back_home}}
</html>
