{{> html_head}} {{> navbar}}

<body>

  <div class="container">
    <h1> Congrats! Your Event is at </h1>
    <h3>Date:</h3>
    <h3>Time:</h3>
    <h3>Address:</h3>

    <a href="/myeventsmain">
      <button class="btn btn-lg btn-default btn-block"> My Events</button>
    </a>

</body>
{{> footer_back_home}}
</html>
