{{> html_head}} {{> navbar}}

<body>

  <div class="container">
    <h2>Find Event</h2>
    <li>
      <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          Miles Away
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
          <li><a href="#">2 miles away</a></li>
          <li><a href="#">5 miles away</a></li>
          <li><a href="#">10 miles away</a></li>
          <li><a href="#">15 miles away</a></li>
          <li><a href="#">20 miles away</a></li>
          <li><a href="#">30 miles away</a></li>
          <li><a href="#">40 miles away</a></li>
          <li><a href="#">50 miles away</a></li>
        </ul>
      </div>
      <!--  google maps api if we have time-->
      <a href="/login">
        <button class="btn btn-lg btn-default btn-block"> Submit</button>
      </a>
    </li>
    <br>
  </div>

</body>
{{> footer_back_home}}

</html>
