{{> html_head}} {{> navbar}}

<body>

  <div class="container">
    <h2>Choose Event</h2>
    <form role="form">
    	<div class="form-group">
    		<input id="searchinput" class="form-control" type="search" placeholder="Search..." />
    	</div>
    	<div id="searchlist" class="list-group">
        {{#guests}}
          <a href="/attending" class="list-group-item"> {{eventname}} Meal: {{name}} <br /> {{zip}}</a>
        {{/guests}}
    	</div>
    </form>
    <script>
    	$('#searchlist').btsListFilter('#searchinput', {itemChild: 'span'});
    </script>
    <!-- {{#each events}}
      <li>
        <a href="/login">
          <button class="btn btn-lg btn-default btn-block"> {{guests.name}}</button>
        </a>
      </li>
      <br>
    {{/each}} -->
  </div>

</body>
{{> footer_back_home}}

</html>
