{{> html_head}} {{> navbar}}

<body>

  <div class="container">
    <h2>Choose Event</h2>
    <!-- {{#each events}}
      <li>
        <a href="/login">
          <button class="btn btn-lg btn-default btn-block"> {{guests.name}}</button>
        </a>
      </li>
      <br>
    {{/each}} -->
  </div>

</body>
{{> footer_back_home}}

</html>
