{{> html_head}}
{{> navbar}}

  <div class="container">
    <h1> What's the Address?</h1>
    <br />
    <form role='form'  action="/login" method="post">
      <div class="form-group">
        <input class="form-control" type='text' name="address" placeholder='Street Address' />
      </div>
      <div class="form-group">
        <input class="form-control" type='text' name="address2" placeholder='Street Address 2' />
      </div>
      <div class="form-group">
        <input class="form-control" type='text' name="city" placeholder='City'  />
      </div>
      <div class="form-group">
        <input class="form-control" type='text' name="state" placeholder='State'  />
      </div>
      <div class="form-group">
        <input class="form-control" type='number' name="zip" placeholder='Zip Code'  />
      </div>
      <a href='/pickmealhost'><button class="btn btn-lg btn-default btn-block" type='submit'> Submit</button></a>
    </form>
    {{#if prevAddr}}
    <h3> OR </h3>
<div class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    Previous Addresses:
    <span class="caret"></span>
  </button>
  {{#each addresses}}
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <li><a href="#">{{street}} {{city}}, {{state}} {{zip}}</a></li>
  </ul>
</div>
</div>
    {{/each}}
    </div>

  </body>
      {{> footer_back_home}}
  </html>
