{{> html_head}} {{> navbar}}

<div class="container">
  <h2> Host an Event!</h2>
  <form role='form' action="/addhost" method="get">
    {{#addhosts}}
    {{#if @last}}
    <div class="form-group">
      <input class="form-control" type='hidden' name="foodid" value="{{id}}" placeholder='food_id' />
    </div>
    {{/if}}
    {{/addhosts}}
    <div class="form-group">
      <input class="form-control" type='text' name="eventname" placeholder='Name Your Event' />
    </div>
    <div class="form-group">
      <input class="form-control" type='date' name="date" placeholder='mm/dd/yy (Ex. 03/24/16)' />
    </div>
    <div class="form-group">
      <input class="form-control" type='time' name="time" placeholder='Time of Event (Ex. 8pm)' />
    </div>
    <h2> Address:</h2>
    <div class="form-group">
      <input class="form-control" type='text' name="street" placeholder='Street' />
    </div>
    <div class="form-group">
      <input class="form-control" type='text' name="city" placeholder='City' />
    </div>
    <div class="form-group">
      <input class="form-control" type='text' name="state" placeholder='State' />
    </div>
    <div class="form-group">
      <input class="form-control" type='number' name="zip" placeholder='Zip' />
    </div>
    <input class="btn btn-lg btn-default btn-primary btn-block" type='submit' />
  </form>
</div>
</body>
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="btn-group btn-group-justified" role="group" aria-label="...">
      <div class="btn-group" role="group">
        <a href='/pickmeal'><button type="button" class="btn btn-lg btn-default"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span></button></a>
      </div>
      <div class="btn-group" role="group">
        <a href='/home'><button type="button" class="btn btn-lg btn-default"><span class="glyphicon glyphicon-home" aria-hidden="true"></span></button></a>
      </div>
    </div>
</nav>
</html>
