{{> html_head}}
{{> navbar}}

<body>

  <div class="container">
    <p>Login with Facebook!</p>
<fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
</fb:login-button>
</div>
{{> facebook}}
<script src="/js/facebook.js"></script>
</body>
</html>
