{{> html_head}}
{{> navbar}}

<body>

  <div class="container">
    {{#unless user}}
    <h5>Existing Users</h5>
    <a href="/login"><button class="btn btn-lg btn-default btn-block"> Login</button></a>
    <br>
    <h5>Don't have an account?</h5>
    <a href='/register'><button class="btn btn-lg btn-default btn-block"> Register</button></a>
    {{/unless}}
    {{#if user}}
      <p> You are currently logged in as {{user.username}}</p>
      <a href="/logout"><button class="btn btn-danger btn-block" href="/logout"> Logout</button></a>
    {{/if}}
  </div>

</body>
</html>
