{{> html_head}}
{{> navbar}}

<body>

  <div class="container">
    <h2>Host:</h2>
    {{#each events}}
        <a href="/eventinfohost/{{id}}" class="btn btn-lg btn-default btn-block"> {{eventname}}</a>
      <br>
    {{/each}}

    <h2>Attend:</h2>
    {{#each guestevents}}
        <a href="#" class="btn btn-lg btn-default btn-block"> {{eventname}}</a>
      <br>
    {{/each}}
  </div>

</body>

</html>
