{{> html_head}}
{{> navbar}}

  <div class="container">
    <h1> Pick Your Meal</h1>
    <h3> Click to choose the meal!</h3>

    <div class="list-group">
      {{#each hosts}}
      <ul><a href="/address/{{id}}" class="item"><img src="{{image}}" alt="{{id}}" height="300"><h5>{{name}}</h5></a></ul>
      {{/each}}
    </div>

  </body>
      {{> footer_back_home}}
  </html>
