{{> html_head}}
{{> navbar}}

  <div class="container">
    <h1> Pick Your Meal</h1>
    <h3> Click to choose the meal!</h3>

<div class="owl-carousel">
  {{#each hosts}}
  <ul><a href="/address/{{id}}" class="item"><img src="{{image}}" alt="{{id}}" height="300"><h5>{{name}}</h5></a></ul>
  {{/each}}
</div>

<script>
$(document).ready(function() {
  $('.owl-carousel').owlCarousel({
  loop:true,
  margin:0,
  responsiveClass:true,
  responsive:{
      0:{
          items:1,
          nav: false
      },
      600:{
          items:3,
          nav:false
      },
      1000:{
          items:5,
          nav:true,
          loop:false
      }
  }
});
});
</script>

  </body>
      {{> footer_back_home}}
  </html>
